<div class="jumbotron">
  <h3 class="display-5">作り置きっちん！</h3>
  <hr class = "my-4">
  <p class="lead">このサイトは、お金と時間がない大学生のために、作り置きのレシピだけをまとめたサイトです.<br/>
  料理初心者の方は、料理時間が短いものを、腕に覚えがある方は、ぜひ難しいレシピに挑戦してみてください。
</p>
  <h3 class="display-5">使い方</h3>
  <hr class="my-4">
  <p class="lead">上段にある　レシピ一覧　からレシピ一覧をご覧になれます</p>
  <p class="lead">新しいレシピを作成する　では、レシピを投稿することも可能です</p>
</div>
<section>
<h3 class="text-center">人気のレシピ</h3>
    <div class="container">
        <% @recipes.each do |recipe| %>
                <div class="card text-center ">
                    <div class="card-header bg-info text-white">
                        <%= recipe.title %>
                    </div>
                    <div class="card-body">
                    <p class="card-text">料金(一食分): <%= recipe.price %>円</p>
                    <p class="card-text">調理時間: <%= recipe.cooking_time %>分</p>
                    <p class="card-text">保存期間: <%= recipe.storage_time %>日間</p>
                    <%= link_to "レシピを見る", recipe, class:"btn btn-primary" %>
                </div>
            </div>
        <% end %>
    </div>
<section>

