<div class="container">
  <h1><%= @recipe.title %></h1>
  <h1>説明</h1>
  <p>
      <%= @recipe.description %>
  </p>
  <div>料理時間 : <%= @recipe.cooking_time %></div>
  <div>保存方法 : <%= @recipe.storage_method %></div>
  <div>費用 : <%= @recipe.price %></div>
  <p>
    <strong>材料:</strong>
    <br />
    <% @recipe.ingredients.each do |ingredient| %>
      <%= ingredient.name + ' ' + ingredient.quantity %>
      <br />
    <% end %>
  </p>
  <p>
    <strong>手順:</strong>
    <br />
    <% @recipe.steps.each.with_index(1) do |step, idx| %>
      <%= "#{idx}. #{step.description}" %>
      <br />
    <% end %>
  </p>
</div>
<%= link_to '削除する', recipes_path(@recipe), method: :delete, data: { confirm: 'Are you sure?' } %>